name: Hello World Test

on:
  push:
    branches: [ main ]
 

jobs: 
  setup:
    runs-on: ubuntu-latest

    steps:
      # Step 1 : Checkout the repository code 
      - name: Checkout repository
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      # Step 2 : Verify that files are fetched 

      - name: List Project files
        run : ls -la


      # Step 3 : Set up JDK 
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with: 
          distribution: 'temurin'
          java-version:   17 

      # Step 4 : Cache Gradle Packages
      - name: Cache Gradle Packages
        uses: actions/cache@v4
        with:  
         path: | 
          ~/.gradle/caches                     
          ~/.gradle/wrapper
         key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
         restore-keys: |
            ${{ runner.os }}-gradle-

      # Step 5 : Grant execute permisssion to Gradle wrapper

      - name: Grant execute permission for gradlew
        run:  chmod +x gradlew

      # Step 6 : Build the Android project 
      
      - name: Build with gradle
        run: ./gradlew assembleDebug


      # Step 7 : Upload APK Artifact
      
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with: 
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk




    



  






        




      


