name: Hello World Test

on:
  push:
    branches: [ main ]
 
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello world
        run: echo "Hello World from GitHub Actions"
