name: Hello World Test

on:
  push:
    branches: [ main ]
 

jobs: 
  setup:
    runs-on: ubuntu-latest

    steps:
      # Step 1 : Checkout the repository code 
      - name: Checkout repository
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      # Step 2 : Verify that files are fetched 

      - name: List Project files
        run : ls -la


        

